{% load static %}

<div class="curved-bg-div wow animated fadeIn" data-wow-delay="0.15s"></div>
<div id="fh5co-features" class="fh5co-features-outer">
  <div class="container">

    <div class="row fh5co-features-grid-columns">

      <div class="col-sm-6 in-order-1 wow animated fadeInLeft" data-wow-delay="0.22s">
        <div class="col-sm-image-container">
          <img class="img-float-left" src="{% static 'img/smartphone-1.png' %}" alt="smartphone-1">
          <span class="span-new">NEW</span>
          <span class="span-free">Free</span>
        </div>
      </div>

      <div class="col-sm-6 in-order-2 sm-6-content wow animated fadeInRight" data-wow-delay="0.22s">
        <h1>New Features</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dolor iste beatae ad adipisci, fugiat dignissimos pariatur, dolore nemo suscipit cum nisi earum voluptates nulla! </p>
        <span class="circle circle-first"><i class="fab fa-instagram"></i></span>
        <span class="circle circle-middle"><i class="fab fa-facebook"></i></span>
        <span class="circle circle-last"><i class="fab fa-twitter"></i></span>
      </div>

      <div class="col-sm-6 in-order-3 sm-6-content wow animated fadeInLeft" data-wow-delay="0.22s">
        <h1>REAL-TIME STATISTICS</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dolor iste beatae ad adipisci, fugiat dignissimos pariatur, dolore nemo suscipit cum nisi earum voluptates nulla! </p>
        <span class="circle circle-first"><i class="fas fa-star"></i></span>
        <span class="circle circle-middle"><i class="far fa-star"></i></span>
        <span class="circle circle-last"><i class="far fa-thumbs-up"></i></span>
      </div>

      <div class="col-sm-6 in-order-4 wow animated fadeInRight" data-wow-delay="0.22s">
        <img class="img-float-right" src="{% static 'img/smartphone-2.png' %}" alt="smartphone-2">
      </div>

      <div class="col-sm-6 in-order-5 wow animated fadeInLeft" data-wow-delay="0.22s">
        <div class="col-sm-image-container">
          <img class="img-float-left" src="{% static 'img/smartphone-2.png' %}" alt="smartphone-3">
          <span class="span-data">DATA</span>
          <span class="span-percent">100%</span>
        </div>
      </div>
      <div class="col-sm-6 in-order-6 sm-6-content wow animated fadeInRight" data-wow-delay="0.22s">
        <h1>POWERFUL BACKEND</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dolor iste beatae ad adipisci, fugiat dignissimos pariatur, dolore nemo suscipit cum nisi earum voluptates nulla! </p>
        <span class="circle circle-first">95%</span>
        <span class="circle circle-middle"><i class="fas fa-forward"></i></span>
        <span class="circle circle-last"><i class="fab fa-github"></i></span>

      </div>




    </div> <!-- row -->


  </div>
</div>