{% load static %}

<div class="fh5co-advantages-outer">
  <div class="container">
    <h1 class="second-title"><span class="span-perfect">Perfect</span> <span class="span-features">Features</span></h1>
    <small>Only necessary</small>

    <div class="row fh5co-advantages-grid-columns wow animated fadeIn" data-wow-delay="0.36s">

      <div class="col-sm-4">
        <img class="grid-image" src="{% static 'img/icon-1.png' %}" alt="Icon-1">
        <h1 class="grid-title">Usability</h1>
        <p class="grid-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem cupiditate.</p>
      </div>

      <div class="col-sm-4">
        <img class="grid-image" src="{% static 'img/icon-2.png' %}" alt="Icon-2">
        <h1 class="grid-title">Parallax Effect</h1>
        <p class="grid-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem cupiditate.</p>
      </div>

      <div class="col-sm-4">
        <img class="grid-image" src="{% static 'img/icon-3.png' %}" alt="Icon-3">
        <h1 class="grid-title">Unlimited Colors</h1>
        <p class="grid-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem cupiditate.</p>
      </div>


    </div>
  </div>
</div>