{% load static %}

<div class="fh5co-advantages-outer">
  <div class="container">
    <h1 class="second-title"><span class="span-perfect">>Efficient</span> <span class="span-features">Features</span></h1>
    <small>User-Friendly Interface</small>

    <div class="row fh5co-advantages-grid-columns wow animated fadeIn" data-wow-delay="0.36s">

      <div class="col-sm-4">
        <img class="grid-image" src="{% static 'img/icon-1.png' %}" alt="Icon-1">
        <h1 class="grid-title">Usability</h1>
        <p class="grid-desc">Simplify staff management with our intuitive and easy-to-use interface.</p>
      </div>

      <div class="col-sm-4">
        <img class="grid-image" src="{% static 'img/icon-2.png' %}" alt="Icon-2">
        <h1 class="grid-title">Seamless Collaboration</h1>
        <p class="grid-desc">Foster collaboration across company departments and offices effortlessly.</p>
      </div>

      <div class="col-sm-4">
        <img class="grid-image" src="{% static 'img/icon-3.png' %}" alt="Icon-3">
        <h1 class="grid-title">Customization Options</h1>
        <p class="grid-desc">Tailor your platform with a range of customization and branding choices.</p>
      </div>


    </div>
  </div>
</div>