{% load static %}

<div id="fh5co-reviews" class="fh5co-reviews-outer">
  <h1>What people are saying</h1>
  <small>Reviews</small>
  <div class="container fh5co-reviews-inner">
    <div class="row justify-content-center">
      <div class="col-sm-5 wow fadeIn animated" data-wow-delay="0.25s">
        <img class="float-left" src="{% static 'img/quotes-1.jpg' %}" alt="Quote 1">
        <p class="testimonial-desc">Our platform has transformed the way we manage staff and company departments.</p>
        <small class="testimonial-author">Owner</small>
        <img class="float-right" src="{% static 'img/quotes-2.jpg' %}" alt="Quote 2">
      </div>
      <div class="col-sm-5 testimonial-2 wow fadeIn animated" data-wow-delay="0.67s">
        <img class="float-left" src="{% static 'img/quotes-1.jpg' %}" alt="Quote 1">
        <p class="testimonial-desc">I can't believe how seamless collaboration has become with this platform.</p>
        <small class="testimonial-author">Someone</small>
        <img class="float-right" src="{% static 'img/quotes-2.jpg' %}" alt="Quote 2">
      </div>
    </div>

  </div>
</div>