{% load static %}

<div class="fh5co-slider-outer wow fadeIn" data-wow-delay="0.36s">
  <h1>SIMPLE WIDGETS</h1>
  <small>Drag and Drop</small>
  <div class="container fh5co-slider-inner">

    <div class="owl-carousel owl-theme">

      <div class="item"><img src="{% static 'img/organization-schema-markup.webp' %}" alt=""></div>
      <div class="item"><img src="{% static 'img/department.png' %}" alt=""></div>
      <div class="item"><img src="{% static 'img/office.png' %}" alt=""></div>


    </div>

  </div>
</div>
