{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/clientarea_company_objects.css' %}">
  <meta charset="utf-8" />
  <title>Table Style</title>
  <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
</head>

{% block header %}
  {% include 'includes/header.html' %}
{% endblock %}

{% block content %}
  <body>

  <div class="table-title">
    <h5><a href="{% url 'staff_app:company-create' %}">Create new company</a></h5>
    <h3>Your Companies</h3>
  </div>
  <table class="table-fill">
    <thead>
    <tr>
      <th class="text-left">Company name</th>
      <th class="text-left">Created at</th>
      <th class="text-left">Staff size</th>
    </tr>
    </thead>
    <tbody class="table-hover">
    {% for company in company_list %}
    <tr>
      <td class="text-left"><a href="{{ company.get_absolute_url }}">{{ company.name }}</a></td>
      <td class="text-left">{{ company.created_at_staff }}</td>
      <td class="text-left">{{ company.copmany_staff_size }}</td>
    {% endfor %}
    </tbody>
  </table>
  </body>

{% endblock %}
