{% load static %}
{% load get_value_from_dict %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <meta charset="UTF-8">
    <title>Pricing Table</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" >
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="style.css">
  </head>
  <link rel="stylesheet" href="{% static 'css/header.css' %}">
  <link rel="stylesheet" href="{% static 'css/clientarea_company_objects.css' %}">
  <meta charset="utf-8" />
  <title>Table Style</title>
  <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
</head>

{% block header %}
  {% include 'includes/header.html' %}
{% endblock %}

  <main>
    <span><p>Companies</p></span>
  </main>

{% block content %}
  {% if object_list %}

    <body>
    <section>
      <div class="container">
        <h4 class="text-center">Total companies {{ total_companies }}</h4>
        {% block pagination %}
          <div class="text-center">
            {% include "includes/paginator.html" %}
          </div>
        {% endblock %}
        <div class="row">

          {% for company in companies_list %}
            <div class="col-sm-4">
              <div class="card text-center">
                <div class="title">
                  <img src="https://pbs.twimg.com/profile_images/1605297940242669568/q8-vPggS_400x400.jpg" alt="My Linked Image" class="fa">
                  <h2>{{ company.name }}</h2>
                </div>
                <div class="price">
                  <h3><sup>Created:</sup>{{ company.created_at_staff }}</h3>
                </div>
                <div class="option">
                  <ul>
                    <li> <i class="fa fa-bars" aria-hidden="true"></i> Departments: {{ departments_count|get_value_from_dict:company.pk }} </li>
                    <li> <i class="fa fa-university" aria-hidden="true"></i> Offices: {{ offices_count|get_value_from_dict:company.pk }} </li>
                    <li> <i class="fa fa-users" aria-hidden="true"></i> Staff: {{ company.copmany_staff_size }} </li>
                    <li> <i class="fa fa-calendar" aria-hidden="true"></i> Exists: {{ company_exists|get_value_from_dict:company.pk }} day{{ company_exists|get_value_from_dict:company.pk|pluralize }} </li>
                  </ul>
                </div>
                <a href="{{ company.get_absolute_url }}">Details</a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
    </body>
  {% endif %}


  </tbody>
  </table>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
</html>
