{% load static %}
{% load get_value_from_dict %}

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<head>
		<meta charset="UTF-8">
		<title>Pricing Table</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" >
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
	</head>
	<link rel="stylesheet" href="{% static 'css/header.css' %}">
	<link rel="stylesheet" href="{% static 'css/clientarea_company_objects.css' %}">
	<meta charset="utf-8" />
	<title>Table Style</title>
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
</head>

{% block header %}
	{% include 'includes/header.html' %}
{% endblock %}

<main>
	<span><p>{{ company.name}} departments</p></span>
</main>

{% block content %}
{% if object_list %}

<body>
<section>
	<div class="container">
		<h4 class="text-center">Total departments {{ total_departments }}</h4>
		{% block pagination %}
		<div class="text-center">
			{% include "includes/paginator.html" %}
		</div>
		{% endblock %}
		<div class="row">

			{% for department in object_list %}
			<div class="col-sm-4">
				<div class="card text-center">
					<div class="title">
						<img src="https://images.pexels.com/photos/5602166/pexels-photo-5602166.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="fa">
						<h2>{{ department.name }}</h2>
					</div>
					<div class="price">
						<h3><sup>Created:</sup>{{ department.created_at_staff }}</h3>
					</div>

					<a href="{{ department.get_absolute_url }}">Details</a>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
</body>
{% endif %}
<div class="align-items-center text-center">
	<a href="{% url 'staff_app:company-detail' pk=company.pk %}" class="btn btn-primary">Back to company</a>
</div>

</tbody>
</table>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
</html>
