{% extends 'base.html' %}

{% block content %}

<body>


<div id="page-wrap">


{% block hero %}
	{% include 'includes/hero.html' %}
{% endblock %}

{% block features %}
  {% include 'includes/features.html' %}
{% endblock %}


{% block slider %}
	{% include 'includes/slider.html' %}
{% endblock %}

{% block advantages %}
	{% include 'includes/advantages.html' %}
{% endblock %}

{% block reviews %}
	{% include 'includes/reviews.html' %}
{% endblock %}

  <!-- ==========================================================================================================
                                             SECTION 7 - SUB FOOTER
  ========================================================================================================== -->

  {% block footer %}
  	{% include 'includes/footer.html' %}
  {% endblock %}

</div> <!-- main page wrapper -->

{% block scripts %}
	{% include 'includes/scripts.html' %}
{% endblock %}
</body>
</html>
{% endblock %}
