{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile Page</title>
  <link rel="stylesheet" href="{% static 'css/header.css' %}">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>

{% block header %}
  {% include 'includes/header.html' %}
{% endblock %}

<body>
<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
    <div class="col-md-3 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">

        <img class="rounded-circle mt-5" width="150px" src="https://images.pexels.com/photos/5602166/pexels-photo-5602166.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="{{ department.name }} Logo">
        <span class="font-weight-bold">
          <a href="{% url 'staff_app:position-update' id=object.department.pk pk=object.department.company.pk position_id=object.pk %}" class="btn btn-primary">Update</a>
          <span><a href="" class="btn btn-danger">Delete</a></span>
        </span>
        <span> </span>
      </div>
    </div>
    <div class="col-md-5 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">{{ object.name }}</h4>
        </div>
        <div class="row mt-2">
          <div class="col-md-6"><label class="labels">Created</label><span class="form-control">{{ object.created_at_staff }}</span></div>
          <div class="col-md-6"><label class="labels">Belongs to department</label><span class="form-control"><a
              href="{% url 'staff_app:department-detail' pk=object.department.company.pk id=object.department.pk %}">{{ object.department.name }}</a></span></div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12"><label class="labels">Description</label><span class="form-control">{{ object.description }}</span></div>
        </div>
        <div class="row mt-3">
        </div>
        <div class="mt-5 text-center">
          <button class="btn btn-primary profile-button" type="button" onclick="window.location.href='{% url 'staff_app:clientarea' %}'">Back to companies</button>
        </div>
      </div>
    </div>
    {% block delete %}
    <div class="col-md-4">
      <div class="p-3 py-5">
        <div><a href="{% url 'staff_app:position-create' pk=object.department.company.pk id=object.department.pk %}" class="btn btn-primary">Create new position for this department</a> <a href="" class="text-center">See all</a></div>
      </div>
    </div>
    {% endblock %}
  </div>
</div>
</div>
</div>
</div>
</body>