{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile Page</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/header.css' %}">
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>

{% block header %}
	{% include 'includes/header.html' %}
{% endblock %}

<body>
<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
    <div class="col-md-3 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" {% if staffuser.logo %} src="{{ staffuser.logo.url }}" {% else %} src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" alt="{{ company.name }} Logo" {% endif %}></div>
      <div class="container mt-5">
        <span class="font-weight-bold">
          {% block logo-update %} <a href="{% url 'staff_app:logo-update' staffuser.pk %}"  class="btn btn-primary">Update logo</a>{% endblock %}
        </span>
      </div>
    </div>
    <div class="col-md-5 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">{% if staffuser.pk == request.user.pk %} Your Profile {% else %} {{ staffuser.username }} Profile  {% endif %} </h4>
        </div>
        <div class="row mt-2">

          {% block name-surname %}<div class="col-md-6"><label class="labels">Name<a href="{% url 'staff_app:client-update-name-surname' staffuser.pk %}">Update</a></label><span class="form-control">{% if staffuser.first_name %}{{ staffuser.first_name }} {% else %} No data yet {% endif %}</span></div>{% endblock %}
            <div class="col-md-6"><label class="labels">Surname</label><span class="form-control">{% if staffuser.last_name %}{{ staffuser.last_name }} {% else %} No data yet {% endif %}</span></div>

        </div>
        <div class="row mt-3">
          {% block username %}<div class="col-md-12"><label class="labels">Username <a href="{% url 'staff_app:client-update-username' staffuser.pk %}">Update</a></label><span class="form-control">{{ staffuser.username }}</span></div>{% endblock %}
          {% block email %} <div class="col-md-12"><label class="labels">Email <a href="{% url 'staff_app:email-update' staffuser.pk %}">Update</a></label><span class="form-control">{% if staffuser.email %}{{ staffuser.email }} {% else %} No data yet {% endif %}</span></div>{% endblock %}
          <div class="col-md-12"><label class="labels">Date joined</label><span class="form-control">{{ staffuser.date_joined }}</span></div>
        </div>
        <div class="mt-5 text-center">
          <button class="btn btn-primary profile-button" type="button" onclick="window.location.href='{% url 'staff_app:clientarea' %}'">Back to companies</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="p-3 py-5">
        <h5>Recently created companies: </h5> <div>
        {% if user_companies %}
        <ul class="list-group">
          {% for company in user_companies.all %}
          <li class="list-group-item"><a href="{% url 'staff_app:company-detail' company.pk %}">{{ company.name }}</a></li>
          {% endfor %}
        <a href="{% url 'staff_app:company-create' %}" class="btn btn-primary">Create Company</a>
        </ul>
        {% else %}
        <div class="alert alert-info" role="alert">
          <h4>No companies yet</h4>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</body>